<%- include('../layout/header') -%>
<title>ZEITKRAFT | Login</title>
<!-- <meta name="google-signin-client_id" content="287622461932-ujujad18p0mnv47pq0gkglmtk13d3ogh.apps.googleusercontent.com"> -->

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="UserAssets/LoginPageAssets/css/style.css">

	</head>
	<body>
		<div class="text-center mt-3">
			<h1 class="Heading">ZEITKRAFT WATCHES</h1>
			<p>TIMELESS ELEGANCE ON YOUR WRIST</p>
		</div>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="wrap">
						<div class="img" style="background-image: url(UserAssets/LoginPageAssets/images/bg-1.jpg);"></div>
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">RESET PASSWORD</h3>
			      		</div>
			      	</div>
						<form id="login-form" class="signin-form">
		            <div class="form-group mt-5">
		              <input name="new-password" id="new-password" type="password" class="form-control" required>
		              <label class="form-control-placeholder" for="password">New Password</label>
		              <span toggle="#new-password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
		            </div>
                    <div class="form-group mt-5">
                        <input name="confirm-password" id="confirm-password" type="password" class="form-control" required>
                        <label class="form-control-placeholder" for="password">Confirm Password</label>
                        <span toggle="#confirm-password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                      </div>
					<div class="d-flex justify-content-start"><span id="user-error" class="text-danger"></span></div>
		            <div class="form-group mt-3">
		            	<button type="submit" class="form-control btn btn-primary rounded submit px-3">reset-password</button>
		            </div>
		          </form>
		          </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<footer class="d-flex justify-content-center">
		<a href="">Contact Us</a>
		<a class="mx-3" href="">Terms & Conditions</a>
		<a href="">Privacy Policy</a>
		<p class="mb-5"></p>
	</footer>

	<!-- <script src="UserAssets/js/login.js""></script> -->
	<script src="UserAssets/LoginPageAssets/js/jquery.min.js"></script>
  <script src="UserAssets/LoginPageAssets/js/popper.js"></script>
  <script src="UserAssets/LoginPageAssets/js/bootstrap.min.js"></script>
  <script src="UserAssets/LoginPageAssets/js/main.js"></script>
  <!-- Include the Google Sign-In JavaScript SDK -->
<!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->


<%- include('../layout/footer') -%>