<%- include('../layout/header') -%>
<title>ZEITKRAFT | Signup</title>

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="UserAssets/LoginPageAssets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/[email protected]/font/bootstrap-icons.css">


	</head>
	<body>
		<div class="text-center mt-3">
			<h1 class="Heading">ZEITKRAFT WATCHES</h1>
			<p>TIMELESS ELEGANCE ON YOUR WRIST</p>
		</div>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="wrap">
						<div class="img" style="background-image: url(UserAssets/LoginPageAssets/images/bg-1.jpg);"></div>
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">SIGNUP</h3>
			      		</div>
			      	</div>
					  <% if(userExists == 'true'){ %>
						<div class="d-flex justify-content-center"><span id="userExists" class="text-danger">User already exists</span></div>
					<% } %>
						<form action="/get-otp" method="post" class="signin-form" id="signup-form">
						<div class="d-flex justify-content-end"><span id="name-error" class="text-danger"></span></div>
			      		<div class="form-group mt-4">
			      			<input name="fname" type="text" class="form-control" id="first-name" required>
			      			<label class="form-control-placeholder" for="username">First Name</label>
			      		</div>
                          <div class="form-group mt-4">
                            <input name="lname" type="text" class="form-control" id="last-name" required>
                            <label class="form-control-placeholder" for="username">Last Name</label>
                        </div>
						<div class="d-flex justify-content-end"><span id="email-error" class="text-danger"></span></div>
                        <div class="form-group mt-3">
                            <input name="email" type="text" class="form-control" id="signup-email" required>
                            <label class="form-control-placeholder" for="username">Email</label>
                        </div>
						<div class="d-flex justify-content-end"><span id="password-error" class="text-danger"></span></div>
		            <div class="form-group mt-3">
		              <input name="password" id="signup-password-field" type="password" class="form-control" required>
		              <label class="form-control-placeholder" for="password">Password</label>
		              <span toggle="#signup-password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
		            </div>
					<div class="d-flex justify-content-end"><span id="cpassword-error" class="text-danger"></span></div>
                    <div class="form-group mt-3">
                        <input name="cpassword" id="signup-cpassword-field" type="password" class="form-control" required>
                        <label class="form-control-placeholder" for="password">Confirm Password</label>
                        <span toggle="#signup-cpassword-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
					</div>
					<input type="text" class="d-none" id="referral-code" name="referralCode">
		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary rounded submit px-3 btn-disabled">GET OTP</button>
		            </div>
						<p class="w-100 text-center">&mdash; Or Signup With &mdash;</p>
					<div class="social d-flex text-center mb-5">
						<a href="/googlesignin" class="px-2 py-2 mr-md-1 rounded"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
							<path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
						  </svg></a>
					</div>
		          </form>
		          <p class="text-center">Already have an account? <a class="text-decoration-underline" href="/login"> Login here</a></p>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<footer class="d-flex justify-content-center">
		<a href="">Contact Us</a>
		<a class="mx-3" href="">Terms & Conditions</a>
		<a href="">Privacy Policy</a>
		<p class="mb-5"></p>
	</footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
	<script src="UserAssets/js/signup.js"></script>
	<script src="UserAssets/LoginPageAssets/js/jquery.min.js"></script>
	<script src="UserAssets/LoginPageAssets/js/popper.js"></script>
	<script src="UserAssets/LoginPageAssets/js/bootstrap.min.js"></script>
	<script src="UserAssets/LoginPageAssets/js/main.js"></script>
	


<%- include('../layout/footer') -%>

