.list-group-item.active {
    background: #132451 !important;
}
.bg-warning {
    background: #132451 !important;
}
    .close {
        float: right;
        text-align: right;
        font-size: 30px;
    }
    .modal-content h2 {
        text-align: center;
        margin-top: -35px;
    }
    .button_div {
        justify-content: center;
        text-align: center;
    }
    .button_div button {
        margin-right: 10px;
        background: #132451;
        border: 1px solid #132451;
        padding: 5px 15px;
        color: #FFFFFF;
        border-radius: 2px;
    }
    .nice-select {
        padding: 0px !important;
        height: 38px !important;
        line-height: 38px !important;
    }

    .btn-outline-navy{
        background-color: #ffffff;
        border-width: 2px;
        padding: 10px 15px;
        border-radius: 2px;
        border-color: #132451;
        color: #132451;

    }

    .form-control{
        font-size: small;
    }

    .fs-1{
        font-size: small;
    }
    

    .icon-align{
        transform: translate(-40%, 10%);
    }

    .btn-outline-navy:hover{
        background-color: #132451;
        color: #ffffff;
    }

    .text-navy{
        color: #132451;
    }

    .profile-link{
        color: #132451;
        text-decoration: underline;
        cursor: pointer;
    }
    .profile-link:active{
        color: black;
    }

    .btn-outline-primary{
        color: #132451 !important;
        border-color: #132451 !important;
    }
    .btn-outline-primary:hover{
        color: #fff !important;
        background-color: #132451 !important;
    }
    
    body {
        background-color: #f4f4f4;
      }
      .form-container {
        background-color: #ffffff;
        padding: 2rem;
        max-width: 500px;
        margin: 3rem auto;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }
      .form-control {
        background-color: #f8f9fa;
        border-color: #ced4da;
        color: #495057;
        font-family: "Roboto", sans-serif;
      }

    @media (max-width: 768px) {
        .main_flex_div {
            display: flex;
            flex-direction: column;
        }
        .inner_flex_div {
            min-width: 100% !important;
        }
        .modal-content {
            padding: 10px 0px !important;
            min-width: 95% !important;
            height: 700px;
            overflow: scroll;
        }
        .close {
            margin-right: 10px;
        }
    }