body {
    background-color: #f8f9fa;
}

header {
    background-color: #563d7c;
    color: white;
}

.card {
    border: none;
}

.track-line {
    height: 2px !important;
    background-color: #132451;
    opacity: 1;
}

.dot {
    height: 10px;
    width: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0px;
    background-color: #ffffff;
    border-radius: 50%;
    border: solid #000 1px;
    display: inline-block
}

.dot-filled {
    height: 10px;
    width: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0px;
    background-color: #132451;
    border-radius: 50%;
    display: inline-block
}

.dot-danger {
    height: 10px;
    width: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0px;
    background-color: #d20000;
    border-radius: 50%;
    display: inline-block
}

.big-dot {
    height: 25px;
    width: 25px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: #132451;
    border-radius: 50%;
    display: inline-block;
}

.big-dot-warning {
    height: 25px;
    width: 25px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: #e5c63c;
    border-radius: 50%;
    display: inline-block;
}

.big-dot-success {
    height: 25px;
    width: 25px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: #00bb19;
    border-radius: 50%;
    display: inline-block;
}

.big-dot i {
    font-size: 12px;
}

.card-stepper {
    z-index: 0
}

.img-fade {
    opacity: 0.5;
}



.cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    padding: 0.5em 1.2em 0.5em 0.9em;
    color: white;
    background: rgb(19, 36, 81);
    background: linear-gradient(0deg, rgb(19, 36, 81) 0%, rgb(19, 36, 81) 100%);
    border: 2px solid #132451;
    border-radius: 20em;
  }
  
  .cssbuttons-io-button svg {
    margin-right: 8px;
  }
  
  .cssbuttons-io-button:hover {
    border-color: rgb(19, 36, 81);
    box-shadow: 0 0.5em 1.5em -0.5em #132451;
    background: #ffffff;
    color: #132451;
  }
  
  .cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #132451;
  }