<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
      <a class="sidebar-brand brand-logo" href="/admin/dashboard"><img src="/AdminAssets/images/logo.png" alt="logo" /></a>
      <a class="sidebar-brand brand-logo-mini" href="/admin/dashboard"><img src="/AdminAssets/images/logo-mini.png" alt="logo" /></a>
    </div>
    <ul class="nav">
      <li class="nav-item profile">
        <div class="profile-desc">
          <div class="profile-pic">
            <div class="count-indicator">
              <img class="img-xs rounded-circle " src="/AdminAssets/images/faces-clipart/pic-4.png" alt="">
            </div>
            <div class="profile-name">
              <h5 class="mb-0 font-weight-normal"><%= name %></h5>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item nav-category">
        <span class="nav-link">Navigation</span>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/dashboard">
          <span class="menu-icon">
            <i class="mdi mdi-view-dashboard"></i>
          </span>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/products">
          <span class="menu-icon">
            <i class="mdi mdi-watch"></i>
          </span>
          <span class="menu-title">Product</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/users">
            <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
            </span>
          <span class="menu-title">Users</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/orders">
          <span class="menu-icon">
            <i class="mdi mdi-package-variant-closed"></i>
          </span>
          <span class="menu-title">Orders</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/coupons">
          <span class="menu-icon">
            <i class="mdi mdi-ticket-percent"></i>
          </span>
          <span class="menu-title">Coupons</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/offers">
            <span class="menu-icon">
                <i class="mdi mdi-percent"></i>
            </span>
          <span class="menu-title">Offers</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/brands">
          <span class="menu-icon">
            <i class="mdi mdi-crown"></i>
          </span>
          <span class="menu-title">Brands</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/categories">
          <span class="menu-icon">
            <i class="mdi mdi-file-document-box"></i>
          </span>
          <span class="menu-title">Categories</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/sales-report">
          <span class="menu-icon">
            <i class="mdi mdi-chart-bar"></i>
          </span>
          <span class="menu-title">Sales Report</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/logout">
          <span class="menu-icon">
            <i class="mdi mdi-power"></i>
          </span>
          <span class="menu-title">Logout</span>
        </a>
      </li>
    </ul>
  </nav>